@using Microsoft.AspNetCore.Http;
@using CMS.Model.Enum;

<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] CMS</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/element.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Styles", required: false)
</head>

<body>
    <div>
        <header class="border-bottom">
            <div class="container" id="app">
                <template>
                    @{
                        string userNameSurname = Context.Session.GetString("UserFullname");
                        int? userType = Context.Session.GetInt32("UserType");
                        int? userId = Context.Session.GetInt32("UserId");
                    }

                    <nav class="navbar navbar-expand-lg p-2">
                        <a class="navbar-brand text-secondary" href="/">CMS</a>
                        <el-menu class="el-menu-demo" mode="horizontal" v-on:select="menuSelect">
                            <el-menu-item index="1"><a class="text-decoration-none" href="/">Anasayfa</a></el-menu-item>
                            <el-submenu index="2">
                                <template slot="title">Workspace</template>
                                <el-menu-item index="2-1">item one</el-menu-item>
                                <el-menu-item index="2-2">item two</el-menu-item>
                                <el-menu-item index="2-3">item three</el-menu-item>
                                <el-submenu index="2-4">
                                    <template slot="title">item four</template>
                                    <el-menu-item index="2-4-1">item one</el-menu-item>
                                    <el-menu-item index="2-4-2">item two</el-menu-item>
                                    <el-menu-item index="2-4-3">item three</el-menu-item>
                                </el-submenu>
                            </el-submenu>
                        </el-menu>
                    </nav>

                    @*<b-navbar>
                        <template slot="brand">
                        <b-navbar-item style="font-size: 25px; font-style: italic;" href="/">
                        CMS
                        </b-navbar-item>
                        </template>
                        <template slot="start">
                        <b-navbar-item href="/">
                        Anasayfa
                        </b-navbar-item>
                        <b-navbar-dropdown label="Kurumsal" :hoverable="true">
                        <b-navbar-item href="/sayfalar/hakkimizda">
                        Hakkımızda
                        </b-navbar-item>
                        <b-navbar-item href="/sayfalar/vizyon-misyon">
                        Vizyon-Misyon
                        </b-navbar-item>
                        </b-navbar-dropdown>
                        <b-navbar-dropdown label="Blog" :hoverable="true">
                        <b-navbar-item href="/blog/etkinlik">
                        Etkinlik
                        </b-navbar-item>
                        <b-navbar-item href="/blog/sergi">
                        Sergi
                        </b-navbar-item>
                        </b-navbar-dropdown>
                        <b-navbar-item href="/iletisim">
                        İletişim
                        </b-navbar-item>
                        </template>

                        <template slot="end">
                        @if(userId != null && userType != null)
                        {
                        <b-navbar-dropdown label="@userNameSurname" :hoverable="true">
                        @if(userType == (int)UserType.SuperAdmin || userType == (int)UserType.Admin)
                        {
                        <b-navbar-item href="/Admin/Dashboard">
                        Yönetim Paneli
                        </b-navbar-item>
                        }
                        <b-navbar-item href="/hesabim">
                        Hesabım
                        </b-navbar-item>
                        <b-navbar-item href="/sifremi-degistir">
                        Şifremi Değiştir
                        </b-navbar-item>
                        <b-navbar-item href="/cikis">
                        Çıkış Yap
                        </b-navbar-item>
                        </b-navbar-dropdown>
                        }
                        else
                        {
                        <b-navbar-item tag="div">
                        <div class="buttons">
                        <a class="button is-primary">
                        <strong>Üye Ol</strong>
                        </a>
                        <a class="button is-light" href="/giris">
                        Giriş Yap
                        </a>
                        </div>
                        </b-navbar-item>
                        }
                        </template>
                        </b-navbar>*@
                </template>
            </div>
        </header>

        <section class="container" id="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="pb-3">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script src="~/js/vue.js"></script>
    <script src="~/js/axios.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/element.js"></script>
    <script src="~/js/global.js"></script>
    <script src="~/js/pages/fe/layout.js" asp-append-version="true"></script>
    <script>

    </script>
    @RenderSection("Scripts", required: false)
</body>

</html>
