@using CMS.Storage.Model;

@model CommentGetModel

<div class="card mb-3">
    <div class="card-header bg-white py-3">
        <div class="row">
            <div class="col-md-6">
                <div class="text-sm-start">
                    <i class="k-icon k-i-user"></i>
                    @Model.UserFullName
                </div>
            </div>
            <div class="col-md-6">
                <div class="fst-italic float-md-end" style="font-size: 14px;">
                    <i class="k-icon k-i-clock"></i>
                    @Model.InsertedDate.ToString("dd.MM.yyyy HH:mm")
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        @Model.Description
        <div class="d-flex">
            @if (Model.Items != null && Model.Items.Count > 0)
            {
                <a class="mt-3 btn btn-light btn-sm border me-3" data-bs-toggle="collapse" href="#collapseExample@(Model.Id)" role="button" aria-expanded="false" aria-controls="collapseExample@(Model.Id)">
                    @Model.Items.Count Yanıt
                    <i class="fa fa-chevron-down"></i>
                </a>
            }
            <button data-id="@Model.Id" data-user="@Model.UserFullName" data-description="@Model.Description" class="btn btn-light btn-sm border mt-3" onclick="app.commentReply(this)">
                <i class="fa fa-reply me-2"></i>Cevapla
            </button>
        </div>
    </div>
</div>

@if (Model.Items != null && Model.Items.Count > 0)
{
    <div class="collapse ps-4" id="collapseExample@(Model.Id)">
        @foreach (var child in Model.Items)
        {
            @await Html.PartialAsync("BlogCommentTreeView", child)
        }
    </div>
}