@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CMS Admin</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/element.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Styles", required: false)
</head>
<body>
    @{
        string userNameSurname = Context.Session.GetString("UserFullname");
    }
    <div class="container mt-2" id="app">
        <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border">
            <p class="h5 my-0 me-md-auto fw-normal">
                <a class="navbar-brand text-secondary" aria-current="page" asp-area="Admin" asp-action="Index" asp-controller="Dashboard">
                    Admin Paneli
                </a>
            </p>
            <nav class="my-2 my-md-0 me-md-3">
                <el-button v-on:click="openSidebar = true" icon="el-icon-s-fold">Menü</el-button>
            </nav>
            <el-dropdown>
                <span class="el-dropdown-link">
                    <i class="el-icon-user el-icon--left"></i>
                    {{screenWidth > 768 ? "@userNameSurname" : ""}}
                    <i class="el-icon-arrow-down el-icon--right"></i>
                </span>
                <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item>
                        <a class="text-decoration-none text-secondary" href="/" target="_blank">Siteye Git</a>
                    </el-dropdown-item>
                    <el-dropdown-item>
                        <a class="text-decoration-none text-secondary" href="/cikis">Çıkış Yap</a>
                    </el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown>
        </header>

        <el-drawer title="Admin Paneli" :visible.sync="openSidebar">
            <div class="p-2">
                <el-tree class="filter-tree"
                         :data="treeData"
                         :props="defaultProps"
                         :filter-node-method="filterNode"
                         ref="tree"
                         v-on:node-click="selectMenu($event)">
                </el-tree>
            </div>
        </el-drawer>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="~/js/vue.js"></script>
    <script src="~/js/axios.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/element.js"></script>
    <script src="~/js/global.js"></script>
    <script src="~/js/pages/be/layout.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
