@{
    ViewData["Title"] = $"{@Model.Position} - Detaylar";
    int isAuthenticated = User.Identity != null && User.Identity.IsAuthenticated ? 1 : 0;
}
@model CMS.Storage.Model.JobModel

<main id="main" ng-app="app" ng-controller="appController" ng-cloak>
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="text-white">@Model.Position</h5>
                <ol>
                    <li><a href="/">Anasayfa</a></li>
                    <li><a href="/job">Kariyer Fırsatları</a></li>
                    <li>@Model.Position</li>
                </ol>
            </div>
        </div>
    </section>

    <div class="container">
        <input type="hidden" id="isAuthenticated" value="@isAuthenticated" />
        <input type="hidden" id="jobId" value="@Model.Id" />

        <div class="py-5">
            <div class="card shadow">
                <div class="card-body p-4">
                    <div class="row">
                        <div class="col-md-9 mb-4">
                            <div class="d-flex mb-3">
                                <div class="flex-shrink-0">
                                    <img width="100" height="100" src="@Model.CompanyImageUrl" alt="" class="img-thumbnail">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h5> @Model.Position </h5>
                                    <p class="mt-3">
                                        <i class="fa-solid fa-briefcase pe-1"></i> @Model.CompanyName
                                        @if (!string.IsNullOrEmpty(@Model.CompanyLinkedinUrl))
                                        {
                                            <a href="@Model.CompanyLinkedinUrl" target="_blank" class="text-dark">
                                                <i class="fa-brands fa-linkedin-in ps-3 pe-1"></i>
                                                Linkedin
                                            </a>
                                        }
                                        @if (!string.IsNullOrEmpty(@Model.CompanyTwitterUrl))
                                        {
                                            <a class="text-dark" target="_blank" href="@Model.CompanyTwitterUrl">
                                                <i class="fa-brands fa-twitter ps-3 pe-1"></i>
                                                Twitter
                                            </a>

                                        }
                                    </p>
                                </div>
                            </div>
                            @Html.Raw(Model.Description)
                        </div>
                        <div class="col-md-3">
                            <div class="border bg-light px-3 py-4">
                                <div class="mb-4">
                                    <h6>
                                        <i class="fa fa-calendar pe-2"></i> Son Güncelleme
                                    </h6>
                                    <div style="padding-left: 30px;">
                                        @Model.LastUpdatedDate.Date.ToString("dd.MM.yyyy")
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <h6>
                                        <i class="fa fa-user pe-2"></i> Pozisyon
                                    </h6>
                                    <div style="padding-left: 30px;">
                                        @Model.Position
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <h6>
                                        <i class="fa fa-map pe-2"></i> Lokasyon
                                    </h6>
                                    <div style="padding-left: 30px;">
                                        @Model.JobLocationName
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <h6>
                                        <i class="fa fa-globe pe-2"></i> Website
                                    </h6>
                                    <div style="padding-left: 30px;">
                                        <a class="text-dark text-decoration-underline" target="_blank" href="@Model.CompanyWebSiteUrl">
                                            @Model.CompanyWebSiteUrl
                                        </a>
                                    </div>
                                </div>
                                <div class="mb-4">
                                    @* <h6 class="pb-2">
                                    <i class="fa fa-tags pe-2"></i> Etiketler
                                    </h6> *@
                                </div>
                                <div>
                                    @if (Model.IsActive)
                                    {
                                        @if (!Model.IsApplyUser)
                                        {
                                            <a ng-click="applyJob(@Model.Id)"
                                               class="btn text-white btn-lg w-100 bg-green">
                                                İlana Başvur
                                            </a>
                                        }
                                        else
                                        {
                                            <div class="btn text-white btn-info btn-lg w-100 disabled">
                                                İlana başvuruldu
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="btn btn-secondary btn-lg w-100 disabled">
                                            İlan aktif değil
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="appliedJobModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fs-5" id="staticBackdropLabel">İlana Başvur</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <h6>Özgeçmişler</h6>
                                </div>
                                <div class="card-body">
                                    <div class="py-3">
                                        <div class="w-100" dx-select-box="{
                                            placeholder: 'Seç...',
                                            label: 'Özgeçmişler',
                                            stylingMode: 'outlined',
                                            labelMode: 'floating',
                                            displayExpr: 'fileName',
                                            valueExpr: 'id',
                                            bindingOptions: {
                                                dataSource: 'userFiles',
                                                value: 'userJob.userFileId'
                                            }
                                        }"
                                             dx-validator="{
                                                validationRules: [{
                                                    type: 'required',
                                                    message: 'Yorum giriniz!'
                                             }]
                                        }"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <h6>Özgeçmiş Ekle</h6>
                                </div>
                                <div class="card-body">
                                    <div class="mb-3 text-secondary">Sadece PDF dosyası ekleyiniz!</div>
                                    <input type="file" class="form-control" id="fileCV" name="fileCV" accept="application/pdf">
                                    <button ng-click="fileUpload()"
                                            class="btn bg-green btn-sm text-white float-end mt-3">
                                        Kaydet
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Kapat</button>
                    <button dx-button="{
                            text: 'Başvur',
                            onClick: appliedJob,
                            type: 'default'
                        }" class="btn bg-green text-white border-0"></button>
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts{
    <script>
        appModule.controller('appController', ($scope, $http) => {
            $scope.userJob = {};
            $scope.userFiles = [];

            $scope.applyJob = function (id) {
                var isAuthenticated = $("#isAuthenticated").val();

                if (isAuthenticated == 0) {
                    window.location.href = `/login?returnUrl=/job/${id}`;
                } else {
                    $scope.userJob.jobId = parseInt($("#jobId").val());
                    $("#appliedJobModal").modal("show");
                    getUserFiles();
                }
            };

            function getUserFiles() {
                $http.get("/account/user-files/1").then((res) => {
                    $scope.userFiles = res.data;
                    if (res.data.length > 0) {
                        $scope.userJob.userFileId = res.data.find(x => x.isDefault == true).id;
                    }
                });
            }

            $scope.fileUpload = function () {
                var file = $('#fileCV')[0].files[0];
                if (!file) {
                    DevExpress.ui.notify("Dosya ekleyiniz!", 'error');
                    return;
                }
                var data = new FormData();
                data.append("file", file);
                data.append("isDefault", true);
                data.append("fileType", 1);

                $.ajax({
                    type: "POST",
                    url: "/account/user-files",
                    contentType: false,
                    processData: false,
                    data: data
                }).done((res) => {
                    getUserFiles();
                    $('#fileCV').val("");
                    DevExpress.ui.notify(res.message, 'success');
                });
            }

            $scope.appliedJob = function (e) {
                const result = e.validationGroup.validate();
                if (result.isValid) {
                    $http.post("/job/user-job", $scope.userJob).then((res) => {
                        DevExpress.ui.notify(res.data.message, 'success');
                        setTimeout(() => {
                            window.location.reload();
                        }, 1000);
                    });
                }
            }

        });
    </script>
}